<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaredkohler.ontimefitness">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.READ_CALENDAR" />
        <uses-permission android:name="android.permission.WRITE_CALENDAR" />
        <activity android:name=".Options_Activity" />
        <activity android:name=".Schedule_Activity" />
        <activity android:name=".Select_Schedule_Activity" />
        <activity android:name=".Daily_Route_Activity" />
        <activity android:name=".Event_Activity" />
        <!--
            <activity
            android:name=".Body_Settings_Activity"
            android:label="@string/title_activity_boddy__settings_"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity android:name=".Body_Settings_Activity" />
        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity" />
        <activity android:name=".Create_Activity"></activity>
        <activity android:name=".AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>
        <service
            android:name=".StepService"
            android:exported="false"/>
    </application>

</manifest>